In [1]:
import pandas as pd

In [2]:
#import 2019 Q1 files
foicu_df = pd.read_csv('2019_Q1/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2019_Q1/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2019_Q1/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2019_Q1/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2019_Q1/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2019_Q1/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2019_Q1/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2019_Q1/FS220M.txt', sep = ',')

In [3]:
# create Q1_2019_df
Q1_2019_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q1_2019_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q1_2019_df = pd.concat(Q1_2019_data, axis=1, keys=Q1_2019_headers)

In [ ]:
#import 2019 Q2 files
foicu_df = pd.read_csv('2019_Q2/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2019_Q2/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2019_Q2/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2019_Q2/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2019_Q2/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2019_Q2/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2019_Q2/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2019_Q2/FS220M.txt', sep = ',')

In [9]:
# create Q2_2020_df
Q2_2019_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q2_2019_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q2_2019_df = pd.concat(Q2_2019_data, axis=1, keys=Q2_2019_headers)

In [4]:
#import 2019 Q3 files
foicu_df = pd.read_csv('2019_Q3/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2019_Q3/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2019_Q3/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2019_Q3/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2019_Q3/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2019_Q3/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2019_Q3/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2019_Q3/FS220M.txt', sep = ',')

In [5]:
# create Q3_2019_df
Q3_2019_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q3_2019_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q3_2019_df = pd.concat(Q3_2019_data, axis=1, keys=Q3_2019_headers)

In [6]:
#import 2019 Q4 files
foicu_df = pd.read_csv('2019_Q4/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2019_Q4/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2019_Q4/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2019_Q4/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2019_Q4/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2019_Q4/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2019_Q4/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2019_Q4/FS220M.txt', sep = ',')

In [7]:
# create Q4_2019_df
Q4_2019_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q4_2019_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q4_2019_df = pd.concat(Q4_2019_data, axis=1, keys=Q4_2019_headers)

In [10]:
entries = [Q2_2019_df, Q3_2019_df, Q4_2019_df]

In [11]:
Y2019_df = Q1_2019_df.append(entries)

In [12]:
Y2019_df.head(20)

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,3/31/2019 0:00:00,MORRIS SHEPPARD TEXARKANA,TX,8.275917e+06,1258.0,Well Capitalized,1193.0,424.0,73.0,...,0.0,825.0,406.0,933634.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,3/31/2019 0:00:00,FIRST CASTLE,LA,7.353222e+07,6236.0,Well Capitalized,730.0,378.0,475.0,...,2746969.0,961.0,470.0,1263312.0,532.0,150.0,20015419.0,0.0,0.0,0.0
2,6,3/31/2019 0:00:00,THE NEW ORLEANS FIREMEN'S,LA,1.757512e+08,25229.0,Well Capitalized,799.0,387.0,752.0,...,12574473.0,1270.0,5719.0,15275026.0,464.0,202.0,19560330.0,614.0,181.0,8172921.0
3,12,3/31/2019 0:00:00,FRANKLIN TRUST,CT,4.759780e+07,8794.0,Well Capitalized,1092.0,324.0,289.0,...,4204717.0,1099.0,4541.0,4552108.0,349.0,97.0,5201987.0,349.0,57.0,1439055.0
4,13,3/31/2019 0:00:00,EFCU FINANCIAL,LA,4.777790e+08,43496.0,Well Capitalized,947.0,399.0,4872.0,...,9152178.0,625.0,3369.0,13730779.0,550.0,808.0,78808618.0,550.0,496.0,17863677.0
5,16,3/31/2019 0:00:00,WOODMEN,NE,8.690182e+06,1081.0,Well Capitalized,1476.0,374.0,44.0,...,179638.0,950.0,68.0,223641.0,434.0,16.0,1008132.0,500.0,37.0,673889.0
6,19,3/31/2019 0:00:00,NEW HAVEN TEACHERS,CT,9.808864e+06,1421.0,Well Capitalized,2826.0,400.0,33.0,...,0.0,1250.0,243.0,461243.0,0.0,0.0,0.0,0.0,0.0,0.0
7,22,3/31/2019 0:00:00,WATERBURY CONNECTICUT TEACHERS,CT,2.342976e+08,18872.0,Well Capitalized,1490.0,299.0,892.0,...,18104705.0,774.0,1775.0,17236784.0,400.0,45.0,5074615.0,525.0,1658.0,71938144.0
8,26,3/31/2019 0:00:00,FARMERS,FL,1.576254e+07,1307.0,Well Capitalized,1234.0,239.0,44.0,...,246072.0,789.0,57.0,176562.0,500.0,31.0,1515951.0,0.0,0.0,0.0
9,28,3/31/2019 0:00:00,CENTRIS,NE,7.616014e+08,103044.0,Well Capitalized,857.0,649.0,2118.0,...,22643839.0,849.0,15069.0,52918414.0,425.0,1764.0,154001315.0,499.0,1871.0,56134280.0
10,42,3/31/2019 0:00:00,FD COMMUNITY,CT,8.536605e+07,9290.0,Well Capitalized,993.0,347.0,980.0,...,3145156.0,1315.0,1005.0,5109723.0,384.0,154.0,13270794.0,500.0,473.0,18461418.0
11,47,3/31/2019 0:00:00,FARGO PUBLIC SCHOOLS,ND,3.915754e+07,2553.0,Well Capitalized,1358.0,199.0,74.0,...,619843.0,1095.0,144.0,546851.0,375.0,69.0,6444840.0,400.0,98.0,2911546.0
12,48,3/31/2019 0:00:00,EAGLE EXPRESS,MS,5.994678e+07,4481.0,Well Capitalized,2194.0,407.0,146.0,...,1077149.0,1403.0,1017.0,4513740.0,484.0,29.0,1062174.0,618.0,28.0,843197.0
13,51,3/31/2019 0:00:00,STATE EMPLOYEES,NY,3.892986e+09,368501.0,Well Capitalized,792.0,269.0,35269.0,...,83599717.0,1100.0,51439.0,251837753.0,400.0,9980.0,753656304.0,350.0,5993.0,200375030.0
14,53,3/31/2019 0:00:00,MOTION,NJ,6.790809e+07,7041.0,Adequately Capitalized,661.0,455.0,94.0,...,3451364.0,860.0,520.0,1873899.0,425.0,109.0,19780522.0,609.0,120.0,6732504.0
15,60,3/31/2019 0:00:00,SIOUX FALLS,SD,2.924656e+08,29839.0,Well Capitalized,1168.0,454.0,329.0,...,11752441.0,1100.0,4956.0,6015836.0,363.0,286.0,22896964.0,640.0,645.0,19505993.0
16,62,3/31/2019 0:00:00,FIRST CLASS,PA,3.153656e+07,2432.0,Well Capitalized,1575.0,299.0,51.0,...,437102.0,1400.0,192.0,820622.0,424.0,143.0,17456913.0,424.0,13.0,258909.0
17,75,3/31/2019 0:00:00,LONG ISLAND CITY POSTAL EMPLOYEES,NY,2.676414e+06,271.0,Well Capitalized,2318.0,0.0,0.0,...,0.0,1300.0,34.0,68912.0,0.0,0.0,0.0,0.0,0.0,0.0
18,77,3/31/2019 0:00:00,SERVICE FIRST,SD,1.700508e+08,19415.0,Well Capitalized,709.0,328.0,851.0,...,0.0,1189.0,1416.0,3028466.0,466.0,119.0,12897729.0,704.0,246.0,6102762.0
19,79,3/31/2019 0:00:00,CAMPUS,LA,6.580786e+08,37524.0,Well Capitalized,899.0,484.0,4163.0,...,12855653.0,1499.0,6610.0,28446277.0,375.0,1028.0,154528713.0,550.0,937.0,38334043.0

In [13]:
# format Y2019_df
# convert cycle date to datetime
Y2019_df['Cycle_Date'] = pd.to_datetime(Y2019_df['Cycle_Date'])
Y2019_df['Cycle_Date'] = Y2019_df['Cycle_Date'].dt.strftime('%m-%d-%Y')

# Format the columns have the comma for a thousands separator.
Y2019_df["Total_Assets"] = Y2019_df["Total_Assets"].map("${:,}".format)
Y2019_df["Current_mbrs"] = Y2019_df["Current_mbrs"].map("{:,}".format)
Y2019_df["#New_Auto"] = Y2019_df["#New_Auto"].map("{:,}".format)
Y2019_df["$New_Auto"] = Y2019_df["$New_Auto"].map("${:,}".format)
Y2019_df["#Used_Auto"] = Y2019_df["#Used_Auto"].map("{:,}".format)
Y2019_df["$Used_Auto"] = Y2019_df["$Used_Auto"].map("${:,}".format)
Y2019_df["#Lease"] = Y2019_df["#Lease"].map("{:,}".format)
Y2019_df["$Lease"] = Y2019_df["$Lease"].map("${:,}".format)
Y2019_df["#Other_Secured"] = Y2019_df["#Other_Secured"].map("{:,}".format)
Y2019_df["$Other_Secured"] = Y2019_df["$Other_Secured"].map("${:,}".format)
Y2019_df["#CC"] = Y2019_df["#CC"].map("{:,}".format)
Y2019_df["$CC"] = Y2019_df["$CC"].map("${:,}".format)
Y2019_df["#Other_Unsecured"] = Y2019_df["#Other_Unsecured"].map("{:,}".format)
Y2019_df["$Other_Unsecured"] = Y2019_df["$Other_Unsecured"].map("${:,}".format)
Y2019_df["#1st_Mtg"] = Y2019_df["#1st_Mtg"].map("{:,}".format)
Y2019_df["$1st_Mtg"] = Y2019_df["$1st_Mtg"].map("${:,}".format)
Y2019_df["#2nd_Mtg"] = Y2019_df["#2nd_Mtg"].map("{:,}".format)
Y2019_df["$2nd_Mtg"] = Y2019_df["$2nd_Mtg"].map("${:,}".format)

# format net worth ratio
Y2019_df['Net_worth_ratio'] = Y2019_df['Net_worth_ratio'].astype(float)
Y2019_df['Net_worth_ratio'] = Y2019_df['Net_worth_ratio'] / 100

# format rate columns
Y2019_df['New_Auto_Rate'] = Y2019_df['New_Auto_Rate'] / 100
Y2019_df['Used_Auto_Rate'] = Y2019_df['Used_Auto_Rate'] / 100
Y2019_df['Lease_Rate'] = Y2019_df['Lease_Rate'] / 100
Y2019_df['Other_Secured_Rate'] = Y2019_df['Other_Secured_Rate'] / 100
Y2019_df['CC_Rate'] = Y2019_df['CC_Rate'] / 100
Y2019_df['Other_Unsecured_Rate'] = Y2019_df['Other_Unsecured_Rate'] / 100
Y2019_df['1st_Mtg_Rate'] = Y2019_df['1st_Mtg_Rate'] / 100
Y2019_df['2nd_Mtg_Rate'] = Y2019_df['2nd_Mtg_Rate'] / 100

Y2019_df

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,03-31-2019,MORRIS SHEPPARD TEXARKANA,TX,"$8,275,917.0","1,258.0",Well Capitalized,11.93,4.24,73.0,...,$0.0,8.25,406.0,"$933,634.0",0.00,0.0,$0.0,0.00,0.0,$0.0
1,5,03-31-2019,FIRST CASTLE,LA,"$73,532,219.0","6,236.0",Well Capitalized,7.30,3.78,475.0,...,"$2,746,969.0",9.61,470.0,"$1,263,312.0",5.32,150.0,"$20,015,419.0",0.00,0.0,$0.0
2,6,03-31-2019,THE NEW ORLEANS FIREMEN'S,LA,"$175,751,213.0","25,229.0",Well Capitalized,7.99,3.87,752.0,...,"$12,574,473.0",12.70,"5,719.0","$15,275,026.0",4.64,202.0,"$19,560,330.0",6.14,181.0,"$8,172,921.0"
3,12,03-31-2019,FRANKLIN TRUST,CT,"$47,597,804.0","8,794.0",Well Capitalized,10.92,3.24,289.0,...,"$4,204,717.0",10.99,"4,541.0","$4,552,108.0",3.49,97.0,"$5,201,987.0",3.49,57.0,"$1,439,055.0"
4,13,03-31-2019,EFCU FINANCIAL,LA,"$477,779,017.0","43,496.0",Well Capitalized,9.47,3.99,"4,872.0",...,"$9,152,178.0",6.25,"3,369.0","$13,730,779.0",5.50,808.0,"$78,808,618.0",5.50,496.0,"$17,863,677.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5344,97107,12-31-2019,UNITED TEXAS,TX,"$250,837,424.0","16,544.0",Well Capitalized,9.57,5.67,"1,115.0",...,"$7,767,721.0",10.94,685.0,"$2,551,471.0",3.88,658.0,"$68,274,497.0",5.57,112.0,"$4,336,369.0"
5345,97108,12-31-2019,NORTHWEST COMMUNITY,IL,"$53,017,272.0","3,376.0",Well Capitalized,11.54,5.25,300.0,...,"$1,115,149.0",13.00,374.0,"$499,876.0",5.25,131.0,"$20,473,733.0",5.25,31.0,"$773,686.0"
5346,97109,12-31-2019,RIVER VALLEY,OH,"$343,413,678.0","25,547.0",Well Capitalized,10.31,3.39,"3,343.0",...,"$12,380,141.0",10.24,"1,680.0","$1,973,438.0",3.75,"1,015.0","$66,709,873.0",5.00,489.0,"$9,949,211.0"
5347,97110,12-31-2019,ROCKY MOUNTAIN,MT,"$264,444,275.0","22,079.0",Well Capitalized,9.52,3.84,"2,677.0",...,"$7,234,211.0",8.59,"2,012.0","$3,489,502.0",3.75,636.0,"$78,728,312.0",4.75,650.0,"$19,619,717.0"
5348,97111,12-31-2019,ABBEY,OH,"$93,419,849.0","10,710.0",Well Capitalized,8.81,3.50,801.0,...,"$1,753,639.0",7.89,711.0,"$2,286,888.0",5.06,222.0,"$11,316,051.0",4.84,16.0,"$257,958.0"

In [14]:
# change index to CU_Number
Y2019_df.set_index('CU_Number')

,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,$New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
CU_Number,,,,,,,,,,,,,,,,,,,,,
1,03-31-2019,MORRIS SHEPPARD TEXARKANA,TX,"$8,275,917.0","1,258.0",Well Capitalized,11.93,4.24,73.0,"$1,713,780.0",...,$0.0,8.25,406.0,"$933,634.0",0.00,0.0,$0.0,0.00,0.0,$0.0
5,03-31-2019,FIRST CASTLE,LA,"$73,532,219.0","6,236.0",Well Capitalized,7.30,3.78,475.0,"$9,478,691.0",...,"$2,746,969.0",9.61,470.0,"$1,263,312.0",5.32,150.0,"$20,015,419.0",0.00,0.0,$0.0
6,03-31-2019,THE NEW ORLEANS FIREMEN'S,LA,"$175,751,213.0","25,229.0",Well Capitalized,7.99,3.87,752.0,"$18,230,080.0",...,"$12,574,473.0",12.70,"5,719.0","$15,275,026.0",4.64,202.0,"$19,560,330.0",6.14,181.0,"$8,172,921.0"
12,03-31-2019,FRANKLIN TRUST,CT,"$47,597,804.0","8,794.0",Well Capitalized,10.92,3.24,289.0,"$3,832,540.0",...,"$4,204,717.0",10.99,"4,541.0","$4,552,108.0",3.49,97.0,"$5,201,987.0",3.49,57.0,"$1,439,055.0"
13,03-31-2019,EFCU FINANCIAL,LA,"$477,779,017.0","43,496.0",Well Capitalized,9.47,3.99,"4,872.0","$123,413,170.0",...,"$9,152,178.0",6.25,"3,369.0","$13,730,779.0",5.50,808.0,"$78,808,618.0",5.50,496.0,"$17,863,677.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97107,12-31-2019,UNITED TEXAS,TX,"$250,837,424.0","16,544.0",Well Capitalized,9.57,5.67,"1,115.0","$24,777,724.0",...,"$7,767,721.0",10.94,685.0,"$2,551,471.0",3.88,658.0,"$68,274,497.0",5.57,112.0,"$4,336,369.0"
97108,12-31-2019,NORTHWEST COMMUNITY,IL,"$53,017,272.0","3,376.0",Well Capitalized,11.54,5.25,300.0,"$2,208,251.0",...,"$1,115,149.0",13.00,374.0,"$499,876.0",5.25,131.0,"$20,473,733.0",5.25,31.0,"$773,686.0"
97109,12-31-2019,RIVER VALLEY,OH,"$343,413,678.0","25,547.0",Well Capitalized,10.31,3.39,"3,343.0","$66,092,030.0",...,"$12,380,141.0",10.24,"1,680.0","$1,973,438.0",3.75,"1,015.0","$66,709,873.0",5.00,489.0,"$9,949,211.0"
97110,12-31-2019,ROCKY MOUNTAIN,MT,"$264,444,275.0","22,079.0",Well Capitalized,9.52,3.84,"2,677.0","$54,923,294.0",...,"$7,234,211.0",8.59,"2,012.0","$3,489,502.0",3.75,636.0,"$78,728,312.0",4.75,650.0,"$19,619,717.0"
97111,12-31-2019,ABBEY,OH,"$93,419,849.0","10,710.0",Well Capitalized,8.81,3.50,801.0,"$13,747,219.0",...,"$1,753,639.0",7.89,711.0,"$2,286,888.0",5.06,222.0,"$11,316,051.0",4.84,16.0,"$257,958.0"

In [15]:
# write df to excel
with pd.ExcelWriter('MSUFCU.xlsx', mode='a', engine='openpyxl') as writer:
    Y2019_df.to_excel(writer, sheet_name='2019')