In [1]:
import pandas as pd

In [2]:
#import 2020 Q1 files
foicu_df = pd.read_csv('2020_Q1/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2020_Q1/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2020_Q1/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2020_Q1/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2020_Q1/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2020_Q1/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2020_Q1/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2020_Q1/FS220M.txt', sep = ',')

In [3]:
# create Q1_2020_df
Q1_2020_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q1_2020_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q1_2020_df = pd.concat(Q1_2020_data, axis=1, keys=Q1_2020_headers)

In [4]:
#import 2020 Q2 files
foicu_df = pd.read_csv('2020_Q2/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2020_Q2/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2020_Q2/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2020_Q2/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2020_Q2/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2020_Q2/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2020_Q2/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2020_Q2/FS220M.txt', sep = ',')

In [5]:
# create Q2_2020_df
Q2_2020_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q2_2020_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q2_2020_df = pd.concat(Q2_2020_data, axis=1, keys=Q2_2020_headers)

In [6]:
#import 2020 Q3 files
foicu_df = pd.read_csv('2020_Q3/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2020_Q3/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2020_Q3/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2020_Q3/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2020_Q3/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2020_Q3/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2020_Q3/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2020_Q3/FS220M.txt', sep = ',')

In [7]:
# create Q3_2020_df
Q3_2020_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q3_2020_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q3_2020_df = pd.concat(Q3_2020_data, axis=1, keys=Q3_2020_headers)

In [8]:
#import 2020 Q4 files
foicu_df = pd.read_csv('2020_Q4/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2020_Q4/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2020_Q4/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2020_Q4/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2020_Q4/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2020_Q4/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2020_Q4/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2020_Q4/FS220M.txt', sep = ',')

In [9]:
# create Q4_2020_df
Q4_2020_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q4_2020_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q4_2020_df = pd.concat(Q4_2020_data, axis=1, keys=Q4_2020_headers)

In [11]:
entries = [Q2_2020_df, Q3_2020_df, Q4_2020_df]

In [12]:
Y2020_df = Q1_2020_df.append(entries)

In [14]:
Y2020_df.head(20)

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,3/31/2020 0:00:00,MORRIS SHEPPARD TEXARKANA,TX,8352746,1280,Well Capitalized,1255,374.0,85,...,0,825.0,440,1003064,0.0,0,0,0.0,0,0
1,5,3/31/2020 0:00:00,FIRST CASTLE,LA,69156077,5814,Significantly Undercapitalized,287,378.0,367,...,2515119,1500.0,441,1444106,665.0,149,20860290,720.0,83,2052432
2,6,3/31/2020 0:00:00,THE NEW ORLEANS FIREMEN'S,LA,181602702,25800,Well Capitalized,789,420.0,824,...,12785771,1251.0,5413,17648530,486.0,196,19045384,607.0,179,8038394
3,12,3/31/2020 0:00:00,FRANKLIN TRUST,CT,45098321,9174,Well Capitalized,1131,324.0,284,...,4153456,1099.0,4724,4626006,349.0,93,5074190,349.0,48,1084953
4,13,3/31/2020 0:00:00,EFCU FINANCIAL,LA,566660170,47346,Well Capitalized,977,399.0,5814,...,9241300,600.0,3948,15632944,475.0,879,87543386,475.0,589,21694292
5,16,3/31/2020 0:00:00,WOODMEN,NE,9276003,1056,Well Capitalized,1409,424.0,39,...,171816,950.0,64,240212,361.0,13,979042,500.0,35,561152
6,19,3/31/2020 0:00:00,NEW HAVEN TEACHERS,CT,9823371,1399,Well Capitalized,2873,425.0,33,...,0,1190.0,260,410563,0.0,0,0,0.0,0,0
7,22,3/31/2020 0:00:00,WATERBURY CONNECTICUT TEACHERS,CT,252413990,19473,Well Capitalized,1454,299.0,857,...,16013674,799.0,1733,18442024,275.0,39,4229215,500.0,1692,73806155
8,26,3/31/2020 0:00:00,FARMERS,FL,16596833,1308,Well Capitalized,1181,239.0,46,...,269745,789.0,49,157324,500.0,27,1337645,0.0,0,0
9,28,3/31/2020 0:00:00,CENTRIS,NE,794589100,110675,Well Capitalized,863,549.0,1371,...,100549,799.0,22676,64609973,325.0,1543,143109577,474.0,2460,71351193
10,42,3/31/2020 0:00:00,FD COMMUNITY,CT,95667786,9663,Well Capitalized,960,357.0,1078,...,3122433,1298.0,978,4902207,368.0,155,13408182,439.0,481,18063798
11,47,3/31/2020 0:00:00,FARGO PUBLIC SCHOOLS,ND,43171074,2522,Well Capitalized,1305,199.0,105,...,523099,900.0,153,644920,350.0,71,6999375,400.0,93,2955679
12,48,3/31/2020 0:00:00,EAGLE EXPRESS,MS,60385013,3985,Well Capitalized,2202,374.0,210,...,1082977,1394.0,992,4355736,484.0,41,1706348,623.0,32,957800
13,51,3/31/2020 0:00:00,STATE EMPLOYEES,NY,4233120001,352808,Well Capitalized,784,269.0,40178,...,91588442,875.0,68920,243577968,337.5,10241,868447815,200.0,7414,209061396
14,53,3/31/2020 0:00:00,MOTION,NJ,61854165,6511,Well Capitalized,755,455.0,83,...,3049806,860.0,358,1230296,425.0,102,18738305,609.0,102,5336448
15,60,3/31/2020 0:00:00,SIOUX FALLS,SD,314772634,30462,Well Capitalized,1202,474.0,333,...,9971458,900.0,4901,6029419,300.0,342,30347685,400.0,632,17315722
16,62,3/31/2020 0:00:00,FIRST CLASS,PA,32743186,2347,Well Capitalized,1545,299.0,60,...,462130,1400.0,172,742987,349.0,138,16757502,399.0,11,274079
17,75,3/31/2020 0:00:00,LONG ISLAND CITY POSTAL EMPLOYEES,NY,2598695,268,Well Capitalized,2389,0.0,0,...,0,1300.0,25,56557,0.0,0,0,0.0,0,0
18,77,3/31/2020 0:00:00,SERVICE FIRST,SD,168462810,20087,Well Capitalized,765,313.0,791,...,0,1229.0,1518,3000811,478.0,116,12802861,700.0,202,4720583
19,79,3/31/2020 0:00:00,CAMPUS,LA,686685658,36996,Well Capitalized,923,374.0,4030,...,12667938,1800.0,4835,28575625,313.0,1033,160392729,400.0,951,39858539

In [15]:
# format Y2020_df
# convert cycle date to datetime
Y2020_df['Cycle_Date'] = pd.to_datetime(Y2020_df['Cycle_Date'])
Y2020_df['Cycle_Date'] = Y2020_df['Cycle_Date'].dt.strftime('%m-%d-%Y')

# Format the columns have the comma for a thousands separator.
Y2020_df["Total_Assets"] = Y2020_df["Total_Assets"].map("${:,}".format)
Y2020_df["Current_mbrs"] = Y2020_df["Current_mbrs"].map("{:,}".format)
Y2020_df["#New_Auto"] = Y2020_df["#New_Auto"].map("{:,}".format)
Y2020_df["$New_Auto"] = Y2020_df["$New_Auto"].map("${:,}".format)
Y2020_df["#Used_Auto"] = Y2020_df["#Used_Auto"].map("{:,}".format)
Y2020_df["$Used_Auto"] = Y2020_df["$Used_Auto"].map("${:,}".format)
Y2020_df["#Lease"] = Y2020_df["#Lease"].map("{:,}".format)
Y2020_df["$Lease"] = Y2020_df["$Lease"].map("${:,}".format)
Y2020_df["#Other_Secured"] = Y2020_df["#Other_Secured"].map("{:,}".format)
Y2020_df["$Other_Secured"] = Y2020_df["$Other_Secured"].map("${:,}".format)
Y2020_df["#CC"] = Y2020_df["#CC"].map("{:,}".format)
Y2020_df["$CC"] = Y2020_df["$CC"].map("${:,}".format)
Y2020_df["#Other_Unsecured"] = Y2020_df["#Other_Unsecured"].map("{:,}".format)
Y2020_df["$Other_Unsecured"] = Y2020_df["$Other_Unsecured"].map("${:,}".format)
Y2020_df["#1st_Mtg"] = Y2020_df["#1st_Mtg"].map("{:,}".format)
Y2020_df["$1st_Mtg"] = Y2020_df["$1st_Mtg"].map("${:,}".format)
Y2020_df["#2nd_Mtg"] = Y2020_df["#2nd_Mtg"].map("{:,}".format)
Y2020_df["$2nd_Mtg"] = Y2020_df["$2nd_Mtg"].map("${:,}".format)

# format net worth ratio
Y2020_df['Net_worth_ratio'] = Y2020_df['Net_worth_ratio'].astype(float)
Y2020_df['Net_worth_ratio'] = Y2020_df['Net_worth_ratio'] / 100

# format rate columns
Y2020_df['New_Auto_Rate'] = Y2020_df['New_Auto_Rate'] / 100
Y2020_df['Used_Auto_Rate'] = Y2020_df['Used_Auto_Rate'] / 100
Y2020_df['Lease_Rate'] = Y2020_df['Lease_Rate'] / 100
Y2020_df['Other_Secured_Rate'] = Y2020_df['Other_Secured_Rate'] / 100
Y2020_df['CC_Rate'] = Y2020_df['CC_Rate'] / 100
Y2020_df['Other_Unsecured_Rate'] = Y2020_df['Other_Unsecured_Rate'] / 100
Y2020_df['1st_Mtg_Rate'] = Y2020_df['1st_Mtg_Rate'] / 100
Y2020_df['2nd_Mtg_Rate'] = Y2020_df['2nd_Mtg_Rate'] / 100

Y2020_df

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,03-31-2020,MORRIS SHEPPARD TEXARKANA,TX,"$8,352,746","1,280",Well Capitalized,12.55,3.74,85,...,$0,8.25,440,"$1,003,064",0.00,0,$0,0.00,0,$0
1,5,03-31-2020,FIRST CASTLE,LA,"$69,156,077","5,814",Significantly Undercapitalized,2.87,3.78,367,...,"$2,515,119",15.00,441,"$1,444,106",6.65,149,"$20,860,290",7.20,83,"$2,052,432"
2,6,03-31-2020,THE NEW ORLEANS FIREMEN'S,LA,"$181,602,702","25,800",Well Capitalized,7.89,4.20,824,...,"$12,785,771",12.51,"5,413","$17,648,530",4.86,196,"$19,045,384",6.07,179,"$8,038,394"
3,12,03-31-2020,FRANKLIN TRUST,CT,"$45,098,321","9,174",Well Capitalized,11.31,3.24,284,...,"$4,153,456",10.99,"4,724","$4,626,006",3.49,93,"$5,074,190",3.49,48,"$1,084,953"
4,13,03-31-2020,EFCU FINANCIAL,LA,"$566,660,170","47,346",Well Capitalized,9.77,3.99,"5,814",...,"$9,241,300",6.00,"3,948","$15,632,944",4.75,879,"$87,543,386",4.75,589,"$21,694,292"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5202,97107,12-31-2020,UNITED TEXAS,TX,"$292,005,173","16,747",Well Capitalized,8.82,7.97,978,...,"$6,262,508",9.61,559,"$3,521,719",3.84,629,"$51,548,219",5.57,92,"$3,750,288"
5203,97108,12-31-2020,NORTHWEST COMMUNITY,IL,"$57,096,431","3,111",Well Capitalized,10.49,2.00,227,...,"$899,226",12.50,123,"$745,911",4.00,123,"$19,425,002",5.00,22,"$727,412"
5204,97109,12-31-2020,RIVER VALLEY,OH,"$393,016,300","26,461",Well Capitalized,9.76,3.19,"4,434",...,"$10,837,838",9.50,"1,375","$2,071,743",2.88,"1,057","$76,317,719",3.25,492,"$10,051,481"
5205,97110,12-31-2020,ROCKY MOUNTAIN,MT,"$316,032,867","23,138",Well Capitalized,8.38,3.49,"3,582",...,"$5,864,363",8.59,"1,737","$2,864,411",3.13,659,"$94,119,237",4.49,544,"$14,787,583"
5206,97111,12-31-2020,ABBEY,OH,"$112,006,788","10,718",Well Capitalized,7.68,3.67,"2,981",...,"$1,596,180",7.74,"4,557","$2,961,199",4.50,247,"$14,582,923",3.73,26,"$396,840"

In [16]:
# change index to CU_Number
Y2020_df.set_index('CU_Number')

,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,$New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
CU_Number,,,,,,,,,,,,,,,,,,,,,
1,03-31-2020,MORRIS SHEPPARD TEXARKANA,TX,"$8,352,746","1,280",Well Capitalized,12.55,3.74,85,"$2,136,102",...,$0,8.25,440,"$1,003,064",0.00,0,$0,0.00,0,$0
5,03-31-2020,FIRST CASTLE,LA,"$69,156,077","5,814",Significantly Undercapitalized,2.87,3.78,367,"$6,942,722",...,"$2,515,119",15.00,441,"$1,444,106",6.65,149,"$20,860,290",7.20,83,"$2,052,432"
6,03-31-2020,THE NEW ORLEANS FIREMEN'S,LA,"$181,602,702","25,800",Well Capitalized,7.89,4.20,824,"$19,914,564",...,"$12,785,771",12.51,"5,413","$17,648,530",4.86,196,"$19,045,384",6.07,179,"$8,038,394"
12,03-31-2020,FRANKLIN TRUST,CT,"$45,098,321","9,174",Well Capitalized,11.31,3.24,284,"$3,485,021",...,"$4,153,456",10.99,"4,724","$4,626,006",3.49,93,"$5,074,190",3.49,48,"$1,084,953"
13,03-31-2020,EFCU FINANCIAL,LA,"$566,660,170","47,346",Well Capitalized,9.77,3.99,"5,814","$153,793,564",...,"$9,241,300",6.00,"3,948","$15,632,944",4.75,879,"$87,543,386",4.75,589,"$21,694,292"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97107,12-31-2020,UNITED TEXAS,TX,"$292,005,173","16,747",Well Capitalized,8.82,7.97,978,"$21,148,307",...,"$6,262,508",9.61,559,"$3,521,719",3.84,629,"$51,548,219",5.57,92,"$3,750,288"
97108,12-31-2020,NORTHWEST COMMUNITY,IL,"$57,096,431","3,111",Well Capitalized,10.49,2.00,227,"$1,716,858",...,"$899,226",12.50,123,"$745,911",4.00,123,"$19,425,002",5.00,22,"$727,412"
97109,12-31-2020,RIVER VALLEY,OH,"$393,016,300","26,461",Well Capitalized,9.76,3.19,"4,434","$93,787,992",...,"$10,837,838",9.50,"1,375","$2,071,743",2.88,"1,057","$76,317,719",3.25,492,"$10,051,481"
97110,12-31-2020,ROCKY MOUNTAIN,MT,"$316,032,867","23,138",Well Capitalized,8.38,3.49,"3,582","$69,589,946",...,"$5,864,363",8.59,"1,737","$2,864,411",3.13,659,"$94,119,237",4.49,544,"$14,787,583"
97111,12-31-2020,ABBEY,OH,"$112,006,788","10,718",Well Capitalized,7.68,3.67,"2,981","$9,644,363",...,"$1,596,180",7.74,"4,557","$2,961,199",4.50,247,"$14,582,923",3.73,26,"$396,840"

In [17]:
# write df to excel
with pd.ExcelWriter('MSUFCU.xlsx', mode='a', engine='openpyxl') as writer:
    Y2020_df.to_excel(writer, sheet_name='2020')