In [1]:
import pandas as pd

In [3]:
#import 2021 Q1 files
foicu_df = pd.read_csv('2021_Q1/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2021_Q1/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2021_Q1/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2021_Q1/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2021_Q1/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2021_Q1/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2021_Q1/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2021_Q1/FS220M.txt', sep = ',')

In [5]:
# create Q1_2021_df
Q1_2021_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q1_2021_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q1_2021_df = pd.concat(Q1_2021_data, axis=1, keys=Q1_2021_headers)

In [6]:
#import 2021 Q2 files
foicu_df = pd.read_csv('2021_Q2/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2021_Q2/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2021_Q2/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2021_Q2/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2021_Q2/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2021_Q2/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2021_Q2/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2021_Q2/FS220M.txt', sep = ',')

In [7]:
# create Q2_2021_df
Q2_2021_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q2_2021_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q2_2021_df = pd.concat(Q2_2021_data, axis=1, keys=Q2_2021_headers)

In [21]:
#import 2021 Q3 files
foicu_df = pd.read_csv('2021_Q3/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2021_Q3/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2021_Q3/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2021_Q3/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2021_Q3/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2021_Q3/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2021_Q3/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2021_Q3/FS220M.txt', sep = ',')

In [22]:
# create Q3_2021_df
Q3_2021_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q3_2021_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q3_2021_df = pd.concat(Q3_2021_data, axis=1, keys=Q3_2021_headers)

In [24]:
#import 2021 Q4 files
foicu_df = pd.read_csv('2021_Q4/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2021_Q4/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2021_Q4/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2021_Q4/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2021_Q4/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2021_Q4/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2021_Q4/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2021_Q4/FS220M.txt', sep = ',')

In [25]:
# create Q4_2021_df
Q4_2021_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q4_2021_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q4_2021_df = pd.concat(Q4_2021_data, axis=1, keys=Q4_2021_headers)

In [26]:
entries = [Q2_2021_df, Q3_2021_df, Q4_2021_df]

In [27]:
Y2021_df = Q1_2021_df.append(entries)

In [30]:
Y2021_df.tail(20)

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
5028,97092,12/31/2021 0:00:00,COMMUNITY UNITED,OH,12445645,1942,Well Capitalized,1364.8493,419.0,76,...,0,977.0,109,341937,419.0,3,162834,512.0,13,347049
5029,97093,12/31/2021 0:00:00,SAFEAMERICA,CA,545562610,36187,Well Capitalized,858.6148,449.0,3756,...,15245079,1150.0,767,3480257,316.0,420,160983246,331.0,482,19830004
5030,97094,12/31/2021 0:00:00,ACHIEVE,OH,183610961,11717,Well Capitalized,1005.5784,315.0,400,...,7244785,995.0,636,1380472,325.0,146,9633807,325.0,668,12022408
5031,97095,12/31/2021 0:00:00,COMMONWEALTH,IL,107839165,10486,Well Capitalized,1059.5962,402.0,696,...,0,950.0,293,911979,332.0,261,24101397,526.0,33,596642
5032,97096,12/31/2021 0:00:00,FRESNO POLICE DEPARTMENT,CA,54161398,2705,Well Capitalized,1922.6367,300.0,131,...,1836826,1500.0,157,540089,386.0,30,3359385,426.0,11,263819
5033,97097,12/31/2021 0:00:00,ACCESS,IL,61416256,5369,Well Capitalized,1086.1116,275.0,98,...,1220641,925.0,573,1716846,300.0,49,7698434,375.0,110,4825418
5034,97098,12/31/2021 0:00:00,EASTEX,TX,111861250,10895,Well Capitalized,1060.7375,354.0,501,...,1238699,1014.0,1122,4808516,394.0,23,3400399,0.0,0,0
5035,97099,12/31/2021 0:00:00,CTECU,TX,27690876,1437,Well Capitalized,1844.5357,249.0,53,...,220724,725.0,13,62613,199.0,24,2528437,299.0,4,190439
5036,97100,12/31/2021 0:00:00,AURORA POLICEMEN,IL,25130237,1619,Well Capitalized,1172.7156,295.0,94,...,188007,1098.0,251,544536,0.0,0,0,0.0,0,0
5037,97101,12/31/2021 0:00:00,GLENDALE AREA SCHOOLS,CA,465528645,11408,Well Capitalized,1267.7686,294.0,235,...,3860209,926.0,524,2132435,314.0,187,33349725,583.0,52,1408783
5038,97102,12/31/2021 0:00:00,LATAH,ID,154709401,7453,Well Capitalized,754.9517,364.0,158,...,672056,1109.0,354,1121256,431.0,215,27077637,508.0,180,6389948
5039,97103,12/31/2021 0:00:00,ALLIANCE,TX,393102202,29914,Well Capitalized,1345.5684,421.9,1295,...,4500553,1125.3,2847,6127009,466.0,981,101227655,0.0,0,0
5040,97104,12/31/2021 0:00:00,"IH CREDIT UNION, INC.",OH,344796959,22417,Well Capitalized,1700.3923,571.0,697,...,2873373,1239.0,1298,3356238,405.0,455,33155079,371.0,203,5077439
5041,97105,12/31/2021 0:00:00,DAY-MET,OH,106625819,7580,Well Capitalized,856.1293,472.0,2231,...,2728608,739.0,6384,3959988,354.0,256,16216773,451.0,154,3506249
5042,97106,12/31/2021 0:00:00,GENFED FINANCIAL,OH,303499679,24257,Well Capitalized,1392.7324,374.0,1118,...,4851457,1433.0,2556,2350894,399.0,931,64231784,325.0,520,13918864
5043,97107,12/31/2021 0:00:00,UNITED TEXAS,TX,382424245,22380,Well Capitalized,855.9509,765.0,1002,...,6706004,1019.0,740,2894858,387.0,606,27434754,548.0,163,8659718
5044,97108,12/31/2021 0:00:00,NORTHWEST COMMUNITY,IL,58149139,3042,Well Capitalized,1115.2272,320.0,150,...,865623,916.0,137,930533,337.0,127,21398799,534.0,23,715711
5045,97109,12/31/2021 0:00:00,RIVER VALLEY,OH,419077817,27031,Well Capitalized,997.0036,299.0,5132,...,10475307,1049.0,1279,1508076,300.0,1071,87541208,325.0,459,8667290
5046,97110,12/31/2021 0:00:00,ROCKY MOUNTAIN,MT,347767559,23716,Well Capitalized,819.5263,374.0,3653,...,5668289,874.0,1512,2380859,313.0,605,94787558,449.0,534,22980287
5047,97111,12/31/2021 0:00:00,ABBEY,OH,129621872,11091,Well Capitalized,741.4075,392.0,2286,...,1588991,773.0,5721,3328764,427.0,253,15953544,339.0,270,3221743

In [31]:
# format Y2021_df
# convert cycle date to datetime
Y2021_df['Cycle_Date'] = pd.to_datetime(Y2021_df['Cycle_Date'])
Y2021_df['Cycle_Date'] = Y2021_df['Cycle_Date'].dt.strftime('%m-%d-%Y')

# Format the columns have the comma for a thousands separator.
Y2021_df["Total_Assets"] = Y2021_df["Total_Assets"].map("${:,}".format)
Y2021_df["Current_mbrs"] = Y2021_df["Current_mbrs"].map("{:,}".format)
Y2021_df["#New_Auto"] = Y2021_df["#New_Auto"].map("{:,}".format)
Y2021_df["$New_Auto"] = Y2021_df["$New_Auto"].map("${:,}".format)
Y2021_df["#Used_Auto"] = Y2021_df["#Used_Auto"].map("{:,}".format)
Y2021_df["$Used_Auto"] = Y2021_df["$Used_Auto"].map("${:,}".format)
Y2021_df["#Lease"] = Y2021_df["#Lease"].map("{:,}".format)
Y2021_df["$Lease"] = Y2021_df["$Lease"].map("${:,}".format)
Y2021_df["#Other_Secured"] = Y2021_df["#Other_Secured"].map("{:,}".format)
Y2021_df["$Other_Secured"] = Y2021_df["$Other_Secured"].map("${:,}".format)
Y2021_df["#CC"] = Y2021_df["#CC"].map("{:,}".format)
Y2021_df["$CC"] = Y2021_df["$CC"].map("${:,}".format)
Y2021_df["#Other_Unsecured"] = Y2021_df["#Other_Unsecured"].map("{:,}".format)
Y2021_df["$Other_Unsecured"] = Y2021_df["$Other_Unsecured"].map("${:,}".format)
Y2021_df["#1st_Mtg"] = Y2021_df["#1st_Mtg"].map("{:,}".format)
Y2021_df["$1st_Mtg"] = Y2021_df["$1st_Mtg"].map("${:,}".format)
Y2021_df["#2nd_Mtg"] = Y2021_df["#2nd_Mtg"].map("{:,}".format)
Y2021_df["$2nd_Mtg"] = Y2021_df["$2nd_Mtg"].map("${:,}".format)

# format net worth ratio
Y2021_df['Net_worth_ratio'] = Y2021_df['Net_worth_ratio'].astype(float)
Y2021_df['Net_worth_ratio'] = Y2021_df['Net_worth_ratio'] / 100

# format rate columns
Y2021_df['New_Auto_Rate'] = Y2021_df['New_Auto_Rate'] / 100
Y2021_df['Used_Auto_Rate'] = Y2021_df['Used_Auto_Rate'] / 100
Y2021_df['Lease_Rate'] = Y2021_df['Lease_Rate'] / 100
Y2021_df['Other_Secured_Rate'] = Y2021_df['Other_Secured_Rate'] / 100
Y2021_df['CC_Rate'] = Y2021_df['CC_Rate'] / 100
Y2021_df['Other_Unsecured_Rate'] = Y2021_df['Other_Unsecured_Rate'] / 100
Y2021_df['1st_Mtg_Rate'] = Y2021_df['1st_Mtg_Rate'] / 100
Y2021_df['2nd_Mtg_Rate'] = Y2021_df['2nd_Mtg_Rate'] / 100

Y2021_df

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,03-31-2021,MORRIS SHEPPARD TEXARKANA,TX,"$9,962,035","1,257",Well Capitalized,11.120000,2.99,85,...,$0,8.25,405,"$901,631",0.00,0,$0,0.00,0,$0
1,6,03-31-2021,THE NEW ORLEANS FIREMEN'S,LA,"$224,711,943","26,361",Well Capitalized,7.040000,4.19,880,...,"$12,710,589",11.39,"5,266","$17,786,338",4.65,191,"$18,878,809",5.33,173,"$7,112,104"
2,12,03-31-2021,FRANKLIN TRUST,CT,"$63,808,734","9,307",Well Capitalized,7.910000,2.49,275,...,"$3,622,280",10.99,"3,869","$4,933,876",3.99,84,"$4,082,264",3.99,39,"$806,412"
3,13,03-31-2021,EFCU FINANCIAL,LA,"$656,537,368","51,806",Well Capitalized,9.380000,3.99,"6,428",...,"$8,190,251",6.00,"3,834","$15,202,031",5.00,"1,083","$113,634,003",4.00,711,"$24,960,499"
4,16,03-31-2021,WOODMEN,NE,"$9,970,126","1,027",Well Capitalized,12.900000,4.49,33,...,"$142,080",9.50,54,"$190,182",3.35,14,"$1,293,254",5.00,26,"$542,543"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,97107,12-31-2021,UNITED TEXAS,TX,"$382,424,245","22,380",Well Capitalized,8.559509,7.65,"1,002",...,"$6,706,004",10.19,740,"$2,894,858",3.87,606,"$27,434,754",5.48,163,"$8,659,718"
5044,97108,12-31-2021,NORTHWEST COMMUNITY,IL,"$58,149,139","3,042",Well Capitalized,11.152272,3.20,150,...,"$865,623",9.16,137,"$930,533",3.37,127,"$21,398,799",5.34,23,"$715,711"
5045,97109,12-31-2021,RIVER VALLEY,OH,"$419,077,817","27,031",Well Capitalized,9.970036,2.99,"5,132",...,"$10,475,307",10.49,"1,279","$1,508,076",3.00,"1,071","$87,541,208",3.25,459,"$8,667,290"
5046,97110,12-31-2021,ROCKY MOUNTAIN,MT,"$347,767,559","23,716",Well Capitalized,8.195263,3.74,"3,653",...,"$5,668,289",8.74,"1,512","$2,380,859",3.13,605,"$94,787,558",4.49,534,"$22,980,287"
5047,97111,12-31-2021,ABBEY,OH,"$129,621,872","11,091",Well Capitalized,7.414075,3.92,"2,286",...,"$1,588,991",7.73,"5,721","$3,328,764",4.27,253,"$15,953,544",3.39,270,"$3,221,743"

In [32]:
# change index to CU_Number
Y2021_df.set_index('CU_Number')

,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,$New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
CU_Number,,,,,,,,,,,,,,,,,,,,,
1,03-31-2021,MORRIS SHEPPARD TEXARKANA,TX,"$9,962,035","1,257",Well Capitalized,11.120000,2.99,85,"$2,260,165",...,$0,8.25,405,"$901,631",0.00,0,$0,0.00,0,$0
6,03-31-2021,THE NEW ORLEANS FIREMEN'S,LA,"$224,711,943","26,361",Well Capitalized,7.040000,4.19,880,"$22,007,313",...,"$12,710,589",11.39,"5,266","$17,786,338",4.65,191,"$18,878,809",5.33,173,"$7,112,104"
12,03-31-2021,FRANKLIN TRUST,CT,"$63,808,734","9,307",Well Capitalized,7.910000,2.49,275,"$3,580,675",...,"$3,622,280",10.99,"3,869","$4,933,876",3.99,84,"$4,082,264",3.99,39,"$806,412"
13,03-31-2021,EFCU FINANCIAL,LA,"$656,537,368","51,806",Well Capitalized,9.380000,3.99,"6,428","$183,939,174",...,"$8,190,251",6.00,"3,834","$15,202,031",5.00,"1,083","$113,634,003",4.00,711,"$24,960,499"
16,03-31-2021,WOODMEN,NE,"$9,970,126","1,027",Well Capitalized,12.900000,4.49,33,"$694,694",...,"$142,080",9.50,54,"$190,182",3.35,14,"$1,293,254",5.00,26,"$542,543"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97107,12-31-2021,UNITED TEXAS,TX,"$382,424,245","22,380",Well Capitalized,8.559509,7.65,"1,002","$21,742,755",...,"$6,706,004",10.19,740,"$2,894,858",3.87,606,"$27,434,754",5.48,163,"$8,659,718"
97108,12-31-2021,NORTHWEST COMMUNITY,IL,"$58,149,139","3,042",Well Capitalized,11.152272,3.20,150,"$1,142,574",...,"$865,623",9.16,137,"$930,533",3.37,127,"$21,398,799",5.34,23,"$715,711"
97109,12-31-2021,RIVER VALLEY,OH,"$419,077,817","27,031",Well Capitalized,9.970036,2.99,"5,132","$116,306,896",...,"$10,475,307",10.49,"1,279","$1,508,076",3.00,"1,071","$87,541,208",3.25,459,"$8,667,290"
97110,12-31-2021,ROCKY MOUNTAIN,MT,"$347,767,559","23,716",Well Capitalized,8.195263,3.74,"3,653","$69,888,239",...,"$5,668,289",8.74,"1,512","$2,380,859",3.13,605,"$94,787,558",4.49,534,"$22,980,287"
97111,12-31-2021,ABBEY,OH,"$129,621,872","11,091",Well Capitalized,7.414075,3.92,"2,286","$8,253,378",...,"$1,588,991",7.73,"5,721","$3,328,764",4.27,253,"$15,953,544",3.39,270,"$3,221,743"

In [35]:
# write df to excel
with pd.ExcelWriter('MSUFCU.xlsx', mode='a', engine='openpyxl') as writer:
    Y2021_df.to_excel(writer, sheet_name='2021')